/**
 * black_mamba
 */

/*************/
/* IE7 FIXES */
/*************/

/* fix tabs from floating */
#primary-menu-wrapper {
  height: 1%;
}

/* prevent dropdown menus from disappearing behind preface blocks */
#preface div.block {
  position: static;
}

body.layout-main-last #sidebar-last ul li,
#content-bottom ul li {
  background-position: left 0.5em;
}

/* adjust pager spacing */
#main-wrapper .item-list ul.pager li {
  margin: 0 2px;
}

#main-wrapper .item-list .pager a.active {
  padding: 1px 0 2px 3px;
}

#content-wrapper {
overflow:hidden;
}

h1.title {
width: auto;
}


#search-box {
  padding: 8px 0 8px 8px;
  width: 255px;
}

#search-box .search_submit {
  padding: 2px 0 0;
}

input.form-submit,
input.teaser-button {
  border: 1px solid #225A82;
  margin: 0;
  padding: 3px 2px;
}

/* limit legend width to text length */
form fieldset legend {
  display: inline-block !important;
}

/* adjust openid link */
html.js #user-login-form li.openid-processed, 
html.js #user-login li.openid-processed {
  padding-left: 8px;
}

.layout-main-last #sidebar-last .block-wrapper {
  margin: 10px 0 30px;
}

.block {
  position: relative;
}

/* prevent comment form background from disappearing */
#comments .content {
  zoom: 1;
}

/*--- USER BLOCK ---*/
.block-user .block-icon {
  left: -1px;
  top: -14px;
}

/*--- SEARCH BLOCK ---*/
.block-search .block-icon {
  left: -2px;
  top: -14px;
}

/*--- MENU BLOCK ---*/
.block-menu .block-icon {
  left: -1px;
  top: -14px;
}

/*--- COMMENT BLOCK ---*/
.block-comment .block-icon,
.block-forum .block-icon {
  left: -1px;
  top: -14px;
}

.block-blog .block-icon {
  left: -1px;
  top: -14px;
}

#primary-menu {                                   /* menu layout */
  margin-top: -14px;
  padding: 0;
}

/***************/
/* BREADCRUMBS */
/***************/


#breadcrumb {
  height: 33px;
  width: expression((document.documentElement.clientWidth || document.body.clientWidth) < 200? "200px": "auto");
  margin-bottom: 24px;
  background: url(images/bdback.png) repeat-x;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
}

#breadcrump_image {
  background: url(images/bdleft.png) no-repeat 0 0;
  height: 35px;
  width: 31px;
  float: left;
  margin-top: 10px;
}

.breadcrumbown {
width: 100%;
height: 35px;
background: url(images/bdright.png) no-repeat 100% -1px;
}

.breadcrumbown a {
color: #666666;
text-decoration: none;
font-size: 11px;
font-weight:bold;
text-shadow: 2px 2px 1px #FFFFFF;
background: url(images/bdto.png) no-repeat top left;
height: 35px;
display: block;
float: left;
padding: 8px 15px 0 30px;
}

.breadcrumbown a:hover {
color: #333333;
text-decoration: none;
}

#breadcrump_over {
height: 45px;
overflow: hidden;
display: block;
margin-bottom: 20px;
}
