/***************************/
/* RESET MARGINS & PADDING */
/***************************/

html, body, div, span,
p, blockquote, pre, code,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
form, fieldset, legend, label, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
}


/**************/
/* TYPOGRAPHY */
/**************/

body {
  background: #cdc9c6;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;     /* web safe fonts */
  font-size: 75%;    /* 12px */
  font-weight: normal;
  line-height: 160%;    /* 19.2px */
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.75em;
  font-weight: normal;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 0.8em;
  font-weight: bold;
}


/*****************/
/* DEFAULT LINKS */
/*****************/

a {
  color: #333333;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: #333333;
}  

a:hover,
a:active {
  text-decoration: underline;
  color: #ff6600;
}


/**********/
/* LAYOUT */
/**********/

html {
  background: #cdc9c6;                               /* background & font color */
  color: #555;
}

#page {
  background-color: #f4f2f2;
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

p {
  font-size: 1em;
  font-weight: normal;
  line-height: 160%;
  margin: 10px 0;
}


/*********/
/* LISTS */
/*********/

ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em;
}

ul.menu li,
.item-list ul li {
  margin: 0.15em 0 0.15em 0.5em;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0;
}

ol li,
ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  margin: 0.15em 0 0.15em 0;
  padding: 0.2em 0 0 1.333em;
}

ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  background: url('images/raquo.png') no-repeat left 0.833em;
  list-style-image: none;
  list-style-type: none;
}

ol li {
  padding: 0 0 .3em;
  margin-left: 2em;
}

div.block ul {
  padding: 0 0 3px;
}

ul.links li,
ul.links.inline {
  background: transparent;
}

/* remove list styling on login block and taxonomy */
#user-login-form div.item-list ul li,
div.terms ul li {
  list-style-type: none;
  margin: 0;
}

/* adjust openid link */
html.js #user-login-form li.openid-processed, 
html.js #user-login li.openid-processed {
  font-weight: bold;
  list-style-type: none;
  margin: 10px 0 0 -6px;
  padding-left: 20px;
  padding-top: 0.2em
}

#preface-wrapper div.block ul li  {
  background: url('images/cyan-bullet.png') no-repeat left center;
  list-style-image: none;
  list-style-type: none;
  font-size: 12px;
  color: #bdc6cd;
  padding-left: 20px;
  margin: 0px;
  line-height: 16px;
}

#preface-wrapper div.block a  {
  text-decoration: none;
  font-weight: normal;
}

#preface-wrapper div.block a:hover {
  text-decoration: underline;
}
  

#preface-wrapper div.block ol li {
  list-style-image: none;
  padding: 2px 0;
}

body.layout-main-last #sidebar-last li.leaf,
body.layout-main-last #sidebar-last ul.menu li,
body.layout-main-last #sidebar-last .item-list ul li,
#content-content .node ul li,
#content-bottom  ul li {
  background: url('images/green-bullet.png') no-repeat left center;
  list-style-image: none;
  list-style-type: none;
  padding-left: 1.5em;
  margin-left: 1em;
}


/********/
/* MISC */
/********/

hr {
  border: 1px solid #c7d0d8;
}

div.content a.feed-icon img,
div.content th img {
  border: 0;             /* remove image borders where we don't want them */
}

/* format initial startup page list nicely */
#first-time p {
  clear: both;
}

#first-time ol {
  list-style-position: outside;
  margin-left: 2em;
}


/********************/
/* ALL PAGE REGIONS */
/********************/

/******************/
/* HEADER REGIONS */
/******************/

#header {
  background: #000 url('images/preface-wrapper-bg.png') repeat-x top;
  padding-left: 15px;
}

#header-wrapper {
  /* background-color: inherit; */
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#search-box {
  background: #dee2e7 url('images/bg-search.gif') repeat-x;
  border: 1px solid #555;
  float: right;
  padding: 8px;
  margin-left:50px;
  position: relative;
  top: 0;
  width: 20em;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px; 
}

#search-box input#edit-search-theme-form-1 {
  width: 170px;
}

/* theming for header search box */
#search-box input.form-submit {
  background: #666;
  border: 1px solid #777;
  color: #fff;
  cursor: pointer; 
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding: 1px 3px 1px;
  outline: none;
  text-transform: none;
  -moz-border-radius: 0;
  -moz-outline-radius: 0;
  -webkit-border-radius: 0;
}

#search-box label,
#search-box a.advanced-search-link {
  display: none;
}

#header-first {
  float: left;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  margin: 12px 30px 0 0;
  width: 630px;
}

#logo {                            /* logo postion.  default image replaced if you upload your own */
  float: left;
}

#site-name {    /* site name link */
  font-size: 2.8em;
  margin: 0;
  padding-top:15px;
}

#site-name a {    /* site name link */
  text-decoration: none;
  color: #fff;
}

#site-name a:hover { 
  color: #1e1e1e;
}

#header-first #slogan {                          /* site slogan */
  display: block;
  font-size: 1.1em;
  color: #1e1e1e;
  margin: 4px 0 0px 180px;
}

#header-middle {
  float: left;
  margin: 10px 20px 0 0;
  width: 230px;
}

#header-last {
  float: right;
  width: 300px;
}

#header-bottom {
  margin: 0 auto;
  position: relative;
  width: 960px;
  z-index: 600;
}


/********************************/
/* PREFACE REGIONS */
/********************************/

#preface {
  background: #000 url('images/preface-wrapper-bg_new.png') repeat-x top;
  min-height: 0px;
  padding: 0 10px;
}

#preface-wrapper {
	color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 0 0px 0;
	width: 95%;
}

/* correct button font size */
#preface-wrapper .form-submit {
  font-size: 0.6em;
}

#preface-wrapper #preface-first {
}

#preface-wrapper #preface-middle {
}

#preface-wrapper #preface-last {
}

#preface-wrapper.prefaces-1 div.column {
  float: left;
  width: 100%;
}
  
#preface-wrapper.prefaces-2 div.column {
  display: inline;
  float: left;
  margin: 0 14px;
  width: 47%;
}
  
#preface-wrapper.prefaces-3 div.column {
  display: inline;
  float: left;
  margin: 0 14px;
  width: 30%;
} 

#preface-wrapper a:link,
#preface-wrapper a:visited {
  color: #FFF;
  text-decoration: underline;
}

#preface-wrapper a:link:hover,
#preface-wrapper a:visited:hover {
  border-bottom: none;
  text-decoration: none;
}

div.content > a:link img {
  border-bottom: none;
  margin: 0;
  padding: 0;
}


/************************/
/*  MAIN AREA WRAPPER   */
/* (Sidebars + Content) */
/************************/

#main {
  background: transparent url('images/content-gradient.png') repeat-x 0 1px;
  padding: 0 10px;
}

#main-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
}

#main-wrapper a.active {
  color: #144A6E;
  text-decoration: underline;
}

/*******************/
/* SIDEBAR REGIONS */
/*******************/

#sidebar-first {
  float: left;
  overflow: hidden;
}

#sidebar-last {
  background-color: #545e68;
  float: right;
  overflow: hidden;
  margin: 0 0 0 10px;
}


/*******************/
/* CONTENT REGIONS */
/*******************/

#content-wrapper {
  overflow: hidden;
}

#content-top {
  margin: 0 0 30px;
  overflow: hidden;
}

#content {
  margin: 0 0 20px;               /* default spacing between content regions */
  min-width: 600px;
}

#content-inner {
}

#content-bottom {
  clear: both;
  margin: 20px 0 0;
  overflow: hidden;
}


/**********************************/
/* POSTSCRIPT REGIONS  */
/**********************************/

#postscript-wrapper {
  clear: both;
  margin: 0 auto;
  overflow: hidden;
}

#postscript-wrapper #postscript-first {
  padding-left: 0;
}

#postscript-wrapper #postscript-middle {
}

#postscript-wrapper #postscript-last {
  padding-right: 0;
}

#postscript-wrapper.postscripts-1 div.column {
  float: left;
  width: 100%;
}

#postscript-wrapper.postscripts-2 div.column {
  float: left;
  margin: 0 10px 0 8px;
  width: 48%;
}

#postscript-wrapper.postscripts-3 div.column {
  float: left;
  padding: 0 8px;
  width: 32%;
} 


/*****************/
/* FOOTER REGION */
/*****************/

#footer {
  border-bottom: 1px solid #c7d0d8;
  border-top: 1px solid #c7d0d8;
  clear: both;
  display: block;
  font-size: 0.9em;
  margin: auto 0;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

#footer ul {
  display: inline;
  margin: 0;
  padding: 0 0 0 9px;
}

#footer ul li {
  background: transparent none repeat;
  border-left: 1px solid #CCC;
  display: inline;
  padding: 0 5px 0 9px;
}

#footer ul li.first {
  border: none;
}

#legal-notice {
  background: #545e68;
  clear: both;
  color: #AAA;
  display: block;
  font-size: 9px;
  padding: 6px 0;
  text-align: center;
  width: 100%;
}

#legal-notice a {
  color: #545e68;
  background: #AAA;
  margin: 0 0 0 10px;
  padding: 0 5px;
  text-decoration: none;
}


/****************************************/
/*          COLUMN LAYOUTS              */
/*                                      */
/* Classes for different column layouts */
/* that are applied to the <body> tag.  */
/****************************************/

/************************/
/* SINGLE COLUMN LAYOUT */
/* (Main Content)       */
/************************/

body.layout-main #content-wrapper {
  margin: 20px 0 0 0;
  width: 960px;
}


/**************************/
/*   TWO COLUMN LAYOUT    */
/* (Sidebar:Main Content) */
/**************************/

body.layout-first-main #sidebar-first {
  margin: 20px 14px 0 0;
  width: 240px;
}

body.layout-first-main #content-wrapper {
  margin: 20px 0 0 0;
}


/**************************/
/*   TWO COLUMN LAYOUT    */
/* (Main Content:Sidebar) */
/**************************/

body.layout-main-last #content-wrapper {
  margin: 20px 20px 0 0;
  position: relative;
  width: 470px;
  z-index: 1;
}

body.layout-main-last #sidebar-last {
  background-color: transparent;
  margin: 20px 0 0 0;
  width: 470px;
}


/**********************************/
/*      THREE COLUMN LAYOUT       */
/* (Sidebar:Main Content:Sidebar) */
/**********************************/

body.layout-first-main-last #sidebar-first {
  margin: 20px 20px 0 0;
  width: 240px;
}

body.layout-first-main-last #content-wrapper {
  margin: 20px 0 0;
}

body.layout-first-main-last #content-wrapper #content-inner {
}

body.layout-first-main-last #content-wrapper #sidebar-last {
  background-color: transparent;
  margin: 0;
  padding: 0 0 0 20px;
  width: 280px;
}

body.full-node.layout-first-main-last #sidebar-last {
  margin: 0;
}


/******************/
/* HELPER CLASSES */
/******************/

.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix:after {                                 /* add .clearfix class to clear floats after an element */
  clear: both;                                    /* (IE version is in ie6-fixes.css) */
  content: "."; 
  display: block;
  font-size: 0;
  height: 0; 
  visibility: hidden;
}

/* alignments */

.center {
	text-align: center;
}

img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


img.lleft {
	float:left;
	margin: 2px 20px 5px 0px;
}

img.rright {
	float:right;
	margin: 2px 0px 5px 20px;
}


img.left, img[align="left"] {
	float: left;
	margin: 4px 20px 5px 0px;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #c7d0d8;
}

img.right, img[align="right"] {
	float: right;
	margin: 4px 0px 5px 20px;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #c7d0d8;
}	
	
	

#imceimage-field_cover- {
	float: right;
	margin: 4px 0px 5px 20px;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #c7d0d8;
}

#imceimage-field_picturenews-, #imceimage-field_pictureacces- {
	float: left;
	margin: 4px 20px 5px 0px;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #c7d0d8;
}

.field-field-status {
	border-bottom: 1px dotted #c7d0d8;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.field-field-genre {
	margin-top: 10px;
}

#preface .content p {
  font-size: 12px;
  color: #c7d0d8;
  font-weight: normal;
  line-height: 120%;
  margin: 8px 0;
}


/************/
/* HEADINGS */
/************/

h1.title {                                        /* page titles */
  border-bottom: 1px solid #c7d0d8;
  clear: left;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.833em;
  font-weight: 600;
  line-height: 1.272em;
  width: 60%;
}  

h2.title {                                        /* block titles, node titles */
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}  

h2.title a:link,
h2.title a:visited {
}  


h2.title a:hover,
h2.title a:active {
  color: #ff6600;
  text-decoration: none;
}  

div.node h2.title {
  border-bottom: 1px solid #c7d0d8;
}

/*********/
/* NODES */
/*********/

div.node {
  margin: 0 0 30px;
}


#content-content .node ul.links li,
#content-content .node ul.inline li,
#content-content .node .links a {
  background: transparent;
  margin: 0;
  padding: 0 14px 0 0;
}

div.node .read-more a,
div.node .more-link a,
div.node .links a {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}  

#content-content .node ul.links li.comment_forbidden a {
  padding-right: 4px;
}

.submitted,
.terms {                                      /* styling for byline and tags */
  font-size: 0.8em;
  color: #777;
}

.vocab-name {
  font-weight: bold;
}

.terms {                                      /* styling for byline and tags */
  font-size: 0.9em;
}

.vocab-name {
  font-weight: bold;
}

.terms {
  line-height: 130%;
}

.terms ul.taxonomy li {
  margin: 10px 0 5px;
}

.terms ul.taxonomy ul.vocab-list,
.terms ul.taxonomy li.vocab-term {
  display: inline;
}

.submitted a:link {
}

.submitted a:visited,
.submitted a:hover,
.submitted a:active {
}

blockquote {
}

div.node.full-node div.content {
  border-bottom: 1px solid #c7d0d8;
}

.node-form .standard {
  clear: none;
}

.picture {
  float: right;
  margin: 0 0 2px 4px;
  padding: 2px;
}

/**********/
/* BLOCKS */
/**********/

div.block {
  position: relative;
}

div.block-region {
  background-color: #FFFF66;
  color: #000;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 3px;
  text-align: center;
}

div.block .title {
}

div.block .submitted {                               /* byline styles in blocks */
}

div.block .submitted a:link {
}

div.block .submitted a:visited,
div.block .submitted a:hover,
div.block .submitted a:active {
}

div.block-wrapper {                    /* spacing between blocks */
  margin: 10px 0;
}

div.block div.content {
  overflow: hidden;
}

#user-login-form .item-list ul li,
div.terms ul li {
  list-style-type: none;
  margin: 2px 0 0 16px;
}


#header-middle h2.block-title,
#header-last h2.block-title {
  color: #51748C;
  font-size: 1.833em;
  margin: 0;
  padding: 0;
}

#preface-wrapper h2.block-title {
  background-color: transparent;
  color: #ff6600;
  font-size: 1em;
  padding: 0;
}

#preface-wrapper .block .content {
  margin: 10px 0 0;
}

body.layout-first-main-last #sidebar-first .block-wrapper,
body.layout-first-main-last #sidebar-last .block-wrapper {
  margin: 0 0 10px;
}

/* rounded blocks styles -= layout-first-main-last & layout-first-main blocks */
#sidebar-first h2.block-title {
	background-color: #E9E9E9;
	font-size: 1.3em;
	color: #333333;
	padding: 4px 8px 1px 46px;
	text-align: right;
	text-shadow: #545454 1px 1px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

#sidebar-last h2.block-title {
	background-color: #E9E9E9;
	font-size: 1.3em;
	color: #333333;
	padding: 4px 8px 1px 46px;
	text-align: right;
	text-shadow: #545454 1px 1px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

#postscript-wrapper h2.block-title {
  background-color: #3bcd6b;
  font-size: 1.3em;
  color: #fff;
  padding: 4px 8px 1px 46px;
  text-align: right;
  text-shadow: #545454 1px 1px; 
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

#sidebar-first div.block div.content,
#sidebar-last div.block div.content,
#postscript-wrapper div.block div.content {
  background: transparent url('images/block-gradient.gif') no-repeat center bottom;
  border-bottom: 3px solid #F1F5F7;
  padding: 10px 10px 8px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px; 
}

/* non-rounded blocks styles = prefaces & layout-main-last blocks */
#preface-wrapper div.block div.content,
body.layout-main-last #sidebar-last div.block div.content {
  border: none;
}

body.layout-main-last #sidebar-last div.block-wrapper {
  margin: 0 0 30px;
}

#preface-wrapper div.block div.content,
body.layout-main-last #sidebar-last div.block div.content,
#footer div.block div.content {
  background: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
}

body.layout-main-last #sidebar-last div.block div.content {
  padding: 6px;
}

body.layout-main-last #sidebar-last h2.block-title {
  border-bottom: 1px solid #c7d0d8;
  background-color: transparent;
  color: #666;
  padding: 0;
  text-align: left;
  text-shadow: none;
  width: 400px;
}

#footer h2.block-title {
  background: transparent;
  color: #666;
}

#sidebar-first #block-search-0 .form-item label,
#sidebar-last #block-search-0 .form-item label {
  display: none;
}

/***************/
/* BLOCK MENUS */
/***************/

div.block ul li a,
div.block ul.menu li a {								
  font-size: 1em;
  font-weight: bold;
}

div.block ul.menu li,
div.block .item-list ul li {
  margin: 0;
}

div.block ul.menu li a:link,
div.block ul.menu li a:visited {
}

div.block ul.menu li a:hover,
div.block ul.menu li a:active {
}

#footer div.block ul li a,
#footer div.block ul.menu li a {
  font-weight: normal;
}


/*****************************************/
/* ROUNDED CORNERS FOR BLOCKS (optional) */
/*****************************************/

div.rounded-block {
  margin-top: -1px;                               /* use negative margin to overlap stacked blocks */
}

p.rounded-topspace {
  margin-top: -14px;                                  /* removes unwanted space */
}

p.rounded-bottomspace {
  margin-bottom: -10px;                               /* removes unwanted space */
}

div.rounded-block-top-left, 
div.rounded-block-top-right, 
div.rounded-block-bottom-left, 
div.rounded-block-bottom-right { 
  background: transparent url('images/rounded-block.png') no-repeat;                         /* combined rounded corner image */
  font-size: 2px;                                 /* IE div correction */
  height: 11px;                                   /* height of an image corner */
}

body.layout-main-last #sidebar-last div.rounded-block-top-left, 
body.layout-main-last #sidebar-last div.rounded-block-top-right, 
body.layout-main-last #sidebar-last div.rounded-block-bottom-left, 
body.layout-main-last #sidebar-last div.rounded-block-bottom-right { 
  background: none;
  font-size: inherit;
  height: auto;
}

div.rounded-block-top-left, 
div.rounded-block-bottom-left { 
  margin-right: 11px;                             /* width of an image corner */
}

div.rounded-block-top-right {                        /* anchor image in top right */
  background-position: 100% 0;
}

div.rounded-block-top-right,
div.rounded-block-bottom-right { 
  margin-left: 11px;                              /* width of an image corner */
  margin-top: -11px;                              /* height of an image corner */
}

body.layout-main-last #sidebar-last div.rounded-block-top-right,
body.layout-main-last #sidebar-last div.rounded-block-bottom-right { 
  margin: 0;
}

div.rounded-block-bottom-left  { 
  background-position: 0 -11px;                   /* negative height of an image corner */
}

div.rounded-block-bottom-right { 
  background-position: 100% -11px;                /* negative height of an image corner */
}

div.rounded-outside,
div.rounded-inside {
  background: transparent url('images/rounded-block-inner.png') repeat-y right;
  padding-right: 8px;
}

body.layout-main-last #sidebar-last div.rounded-outside,
body.layout-main-last #sidebar-last div.rounded-inside {
  background: none;
  margin: 0;
  padding: 0;
}

div.rounded-inside {
  background-position: left;
  padding: 0 0 0 8px;
}


/****************/
/* PRIMARY MENU */
/****************/

#primary-menu {                                   /* menu layout */
  display: block;
  float: right;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
  
#primary-menu ul.links li {                       /* text styling for the top (primary) menu */
}  

#primary-menu ul.links li.first {                 /* .first and .last classes applied to first and last menu & list items */
}
  
#primary-menu ul.links li.last {                  /* .first and .last classes applied to first and last menu & list items */
}
  
#primary-menu ul.links li a:link,
#primary-menu ul.links li a:visited {
}

#primary-menu ul.links li a:hover,
#primary-menu ul.links li a:active {
}  
  

/************************************/
/* PRIMARY MENU WITH DROPDOWNS      */
/* - used with menu_tree theming of */
/* $primary_links in page.tpl.php   */
/************************************/

#primary-menu ul.menu li {                        /* top item layout */
  background: transparent url('images/tab-left.png') no-repeat left 0;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0 0 0 0.833em;    /* 0 0 0 10px */
  position: relative;
  width:  auto;
}

#primary-menu ul.menu li:hover,
#primary-menu ul.menu li.hover,
#primary-menu ul.menu li.active-trail {
  background-position: left -29px;
}

#primary-menu ul.menu li a {
  background: transparent url('images/tab-right.png') no-repeat right 0;
  color: #FFF;
  display: block;
  padding: 0.416em 0.833em 0.083em 0;    /* 5px 10px 1px 0 */
  text-decoration: none;
}

#primary-menu ul.menu li a:hover,
#primary-menu ul.menu li:hover a,
#primary-menu ul.menu li.hover a,
#primary-menu ul.menu li.active-trail a {
  background-position: right -29px;
  color: #333333;
}

#primary-menu ul.menu li ul {
  background: transparent url('images/drop-bottom.png') no-repeat 0 bottom;
  left: -999em;
  opacity: 0.90;
  margin: 0 0 0 -10px;
  padding: 1px 0 4px;
  position: absolute;
  width: 144px;
  z-index: 2;
}
  
#primary-menu ul.menu li:hover ul,
#primary-menu ul.menu li.hover ul {
  display: block;
  left: auto;
}
  
#primary-menu ul.menu li ul li {
  background: #e1e1e1;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  float: left;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  height: auto;
  margin: 0;
}

#primary-menu ul.menu li ul li.last {
  border-bottom: none
}

#primary-menu ul.menu li ul li a,
#primary-menu ul.menu li ul li a:link,
#primary-menu ul.menu li ul li a:visited {
  background: transparent;
  color: #154B6F;
  display: block;
  margin: 0;
  padding: 4px 0;
  text-transform: none;
  width: 135px;
}

#primary-menu ul.menu li ul li a:hover {
  color: #000;
  display: block;
  margin: 0;
  padding: 4px 0;
  text-decoration: none;
}

#primary-menu ul.menu li ul li ul.menu {
  left: -999em;
  margin: 0 0 0 -14px;
  padding: 6px 0 4px;
}

#primary-menu ul.menu li ul li:hover ul.menu,
#primary-menu ul.menu li ul li.hover ul.menu {
  display: block;
  left: 154px;
  top: -6px;
}

#primary-menu ul.menu li ul li ul.menu li a {
  padding: 4px;
  width: 128px;
}
  
/******************/
/* SECONDARY MENU */
/******************/

#secondary-menu {
}


/***********/
/* MISSION */
/***********/

#mission {
  padding: 8px 0;
  text-align: center;
}

/***************/
/* BREADCRUMBS */
/***************/

#breadcrumb {
  height: 33px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background: url(images/bdback.png) repeat-x;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
}

#breadcrump_image {
  background: url(images/bdleft.png) no-repeat 0 0;
  height: 35px;
  width: 31px;
  float: left;
}

.breadcrumbown {
width: 100%;
height: 35px;
background: url(images/bdright.png) no-repeat 100% -1px;
}

.breadcrumbown a {
color: #666666;
text-decoration: none;
font-size: 11px;
font-weight:bold;
text-shadow: 2px 2px 1px #FFFFFF;
background: url(images/bdto.png) no-repeat top left;
height: 35px;
display: block;
float: left;
padding: 7px 15px 0 30px;
}

.breadcrumbown a:hover {
color: #333333;
text-decoration: none;
}

/********/
/* TABS */
/********/

/* styling for node tabs (e.g., View, Edit) */
#content-tabs {
  background-color: transparent;
  float: left;
  margin: 0 0 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  clear: left;
  float: left;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  background: transparent;
  border-style: none;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #333333;
  float: left;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #333333;
  font-size: 1em;
  line-height: 1.1em;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #ff6600;
  color: #333333;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #ff6600;
  color: #333333;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
  border-bottom: 4px solid #ff6600;
  color: #ff6600;
  padding-bottom: 2px;
}

/*********/
/* FORMS */
/*********/

form {
  margin: 0;
  padding: 0;
}

select.form-select,
input.form-text,
textarea.form-textarea {                                      /* default styling for all text fields */
  background: #F6F9FB url('images/form-bg.png') left top;
  color: #666666;
  border: 1px solid #9BABB0;
  padding: 2px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

body.layout-first-main-last select.form-select,
body.layout-first-main-last input.form-text,
body.layout-first-main-last textarea.form-textarea,
body.layout-first-main-last div.resizable-textarea,
body.layout-first-main-last div.resizable-textarea .grippie {
  max-width: 325px;
}

input.form-submit,
input.teaser-button {                                    /* default styling for all form buttons */
	background: transparent url('images/black-button.png') no-repeat left center;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.916em;
	font-weight: bold;
	margin: 0 4px;
	padding: 2px 4px;
	text-transform: uppercase;
	outline: 1px solid #000000;
/*	color:#CC3300;*/
	-moz-border-radius: 4px;
	-moz-outline-radius: 4px;
	-webkit-border-radius: 4px;
}

input.form-submit:hover,
input.teaser-button:hover  {
  background-position: right center;
  cursor: pointer;
}  

fieldset {
  border: 1px solid #c7d0d8;
  margin: 15px 0;
  padding: 10px;
}

fieldset.collapsed {
}

fieldset legend {
  font-weight: bold;
}

html.js fieldset.collapsible legend a {
  font-weight: bold;
}

form#system-theme-settings select,
form#system-theme-settings input.form-text {
  width: 95%;
}

#user-login-form {
  text-align: left;
}

div.form-item label {
  font-weight: normal;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

/**********/
/* PAGERS */
/**********/
#main-wrapper .item-list .pager {
  clear: both;
  margin: 0 0 20px;
  text-align: center;
}

#preface-wrapper .item-list .pager li,
#main-wrapper .item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 2px;
}

#main-wrapper .item-list .pager a.active {
  color: #333333;
  font-size: 1em;
  font-weight: bold;
  padding: 4px;
  text-decoration: none; 
}

#main-wrapper .pager li.pager-current {
  background-color: #333333;
  border: 1px solid #eeebeb;
  color: #fff;
  margin: 0 3px;
  padding: 4px;
}

#main-wrapper .pager-first,
#main-wrapper .pager-next,
#main-wrapper .pager-previous,
#main-wrapper .pager-item,
#main-wrapper .pager-last {
  background-color:#f8f7f7;
  border: 1px solid #eeebeb;
  margin: 0 3px;
  padding: 4px;
}

#main-wrapper .pager-first:hover,
#main-wrapper .pager-next:hover,
#main-wrapper .pager-previous:hover,
#main-wrapper .pager-item:hover,
#main-wrapper .pager-previous:hover,
#main-wrapper .pager-last:hover {
  background-color: #fff;
}


/**********/
/* TABLES */
/**********/

table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 100%;
}

.layout-first-main-last table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 57%;
}

th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #CCC;
}

tr {
  padding: 0.1em 0.6em;
}

td {
  padding: 3px;
}

th.active img {
  display: inline;
}

tr.even td {
  background-color: #eeebeb;
  border-bottom: 1px solid #CCC;
}

tr.odd td {
  background-color: #f8f7f7;
  border-bottom: 1px solid #CCC;
}

td.active {
  
}

tbody {
  border-top: 1px solid #CCC;
}

tbody th {
  border-bottom: 1px solid #CCC;
}

thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #CCC;
}


/*******************/
/* DRUPAL MESSAGES */
/*******************/

.node-unpublished {
  background-color: #FFF4F4;
}

.preview {
  background-color: #FFFFEA;
  padding: 10px;
}

.description {
}

div.messages {
  background: #FFFCE3;
  border: 2px solid #EED300;
  color: #C28E00;
  font-weight: bold;
  font-size: 1.166em;
  margin: 20px 0pt;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

div.messages ul {
  list-style-position: inside;
}

div.messages em {
  color: #656C9B;
}

div.error {
  background-color: #FFF2F2;
  border-color: #FF0000;
  color: #B20000;
}

.status {
}

.help {
}

.help .more-help-link {
}

.marker {
}

.tips {

}


/*--------------------------------*/
/*---- MODULE SPECIFIC STYLES ----*/
/*--------------------------------*/

/*******************/
/* BOOK NAVIGATION */
/*******************/

.book-navigation .menu {
  border-top: 1px solid #CCC;
  padding: 1em 0 0 3em;
}
.book-navigation .page-links {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align: center;
  padding: 0.5em;
}

/********/
/* BLOG */
/********/


/************/
/* COMMENTS */
/************/
#comments {
  clear: both;
}

#comments h2.comments {
  background-color: #ff6600;
  color: #fff;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.333em;
  font-weight: 600;
  padding: 5px 14px 2px 52px;
  text-shadow: #545454 1px 1px;
  text-transform: uppercase;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

#comments .content {
  background: transparent;
  border: none;
}

#main-wrapper #comments a.active {
  color: #333333;
  text-decoration: none;
}

.box {
  padding: 10px;
}

#comment-form {
  margin: 0 0 20px;
  padding: 0 20px;
}

.comment {
  border: none;
  margin: 6px 0 0;
  padding: 10px;
}

.comment h3.title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.comment .links a {
  font-size: 0.9em;
  text-align: right;
}

#comments .odd {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

#comments .even {
  background-color: #fff;
}

#comments .comment-by-author {
  background-color: #FFFFEA;
}

.comment ul.links {
  text-align: right;
  clear: right;
}

#content-content .comment ul.links li {
  background: transparent;
  margin: 0 10px 0 0;
  padding: 0;
}

.signature p {
  border-top: 1px solid #c7d0d8;
  font-family: serif;
  font-size: 0.916em;
  margin: 10px 0;
  padding: 0;
}

.content blockquote p {
  font-style: italic;
  margin: 0;
  padding: 0 20px 8px;
}

blockquote {
  background: url('images/close-quote.gif') no-repeat right bottom;
  color: #023562;
  margin: 10px 0;
}

blockquote :first-child {
  background: url('images/open-quote.gif') no-repeat left top;
  padding: 10px 0 0 20px;
}

blockquote * > :first-child {
  background: transparent;
  padding: 0;
}

blockquote a:link {
  text-decoration: underline;
}

/**********/
/* FORUMS */
/**********/

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}

#forum td.created, 
#forum td.posts, 
#forum td.topics, 
#forum td.last-reply,
#forum td.replies, 
#forum td.pager {
  white-space: nowrap;
}

#forum td.posts, 
#forum td.topics, 
#forum td.replies, 
#forum td.pager {
  text-align: center;
}

.forum-topic-navigation {
  padding: 1em 0 0 3em;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}

.forum-topic-navigation .topic-previous {
  text-align: right;
  float: left;
  width: 46%;
}

.forum-topic-navigation .topic-next {
  text-align: left;
  float: right;
  width: 46%;
}

/**********/
/* PANELS */
/**********/

.tnt-panel .panel-preface-wrapper,
.tnt-panel .panel-postscript-wrapper {
}

.tnt-panel .panel-preface-first,
.tnt-panel .panel-postscript-first {
}

.tnt-panel .panel-preface-last,
.tnt-panel .panel-postscript-last {
}


/****************************************************/
/* TNT ROUNDED CORNERS FOR PANELS MODULE (optional) */
/****************************************************/

.tnt-panel {
  margin-top: 15px;
}

.tnt-panel .panel-panel {
  margin: 0 0 10px 0;
}

.rounded_corner .wrap-corner { 
  background-color: transparent !important;
}

.rounded_corner .wrap-corner .t-edge, 
.rounded_corner .wrap-corner .b-edge { 
  background-image: none;
}

.rounded_corner .wrap-corner .l-edge,
.rounded_corner .wrap-corner .r-edge {
  background-image: none !important;
}
 
.rounded_corner .wrap-corner .l-edge {
  border-left: 1px solid #cce2a3;                           /* left inside border color & width */
  border-right: 1px solid #cce2a3;                          /* right inside border color & width */
  background: #FFF;
  color: #000;
  padding-bottom: 1px;                  /* prevents gap in FF when an inner element has bottom padding */
  padding-left: 10px;
  padding-right: 10px;
}

.rounded_corner .wrap-corner .r-edge {
  padding: 0;
}

.rounded_corner .wrap-corner .t-edge .l, 
.rounded_corner .wrap-corner .t-edge .r, 
.rounded_corner .wrap-corner .b-edge .l, 
.rounded_corner .wrap-corner .b-edge .r { 
  background-image: none;                                   /* combined rounded corner image */
  font-size: 2px;                                           /* IE div correction */
  height: 11px;                                             /* height of an image corner */
  position: static;
  width: auto;
}

.rounded_corner .wrap-corner .t-edge .l, 
.rounded_corner .wrap-corner .b-edge .l { 
  margin-right: 11px;                                       /* width of an image corner */
}

.rounded_corner .wrap-corner .t-edge .r {                   /* anchor image in top right */
  background-position: 100% 0;
}

.rounded_corner .wrap-corner .t-edge .r,
.rounded_corner .wrap-corner .b-edge .r { 
  margin-left: 11px;                                        /* width of an image corner */
  margin-top: -11px;                                        /* height of an image corner */
}

.rounded_corner .wrap-corner .b-edge .l  { 
  background-position: 0 -11px;                             /* negative height of an image corner */
}

.rounded_corner .wrap-corner .b-edge .r { 
  background-position: 100% -11px;                          /* negative height of an image corner */
}


/*********/
/* POLLS */
/*********/

.poll .bar {                                      /* styles for poll ratings */
  background-color: #DDD;
}

.poll .bar .foreground {
  background-color: #999;
  float: none;
}


/************/
/* PROFILES */
/************/

.profile {
  clear: none;
  margin: 12px 0;
}

.profile h2.title {
  margin-top: 15px;
  border-bottom: 1px solid;
}

.profile dt {
  float: left;
  margin-bottom: -10px;
  padding: 0 5px;
  text-align: left;
  width: 185px;
}

.layout-first-main-last .profile dd {
  margin: 15px 5px 0 120px;
}

.layout-first-main-last .profile dt {
  width: 100px;
}

/******************/
/* SEARCH RESULTS */
/******************/


/*********/
/* VIEWS */
/*********/

.view .view-comments-recent .views-field-subject {
  font-weight: bold;
}

.view .view-style-node{
}

.view .view-style-teaser{
}

.view .view-style-list{
}

.view .view-style-table{
}

.view .views-admin-links li {
  background: transparent !important;
}


/***************/
/* PRINT STYLE */
/***************/

@media print {
  body {
    background: white;
    font-size: 10pt;
  }
   
  #header,
  #header-top,
  #header-wrapper,
  #header-bottom,
  #sidebar-first,
  #sidebar-last,
  #preface-wrapper,
  #content-tabs,
  #mission,
  #slogan,
  #postscript-wrapper,
  #footer-top,
  #footer,
  #primary-menu,
  #search-box,
  #logo {
    display: none;
  }

  #page,
  #main-wrapper,
  #content-wrapper,
  #content-top,
  #content,
  #content-bottom {
    background: transparent none;
    border: 0;
    color: black;
    float: none !important;
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  #content-wrapper {
    margin: 0 3%;
  }
}

.marker, #new .new {
  background-color: #b5b5b5;
  font-size: 9px;
  color: #fff;
  margin: 0 3px;
  padding: 0px 4px 1px 4px;
}

.new {
  background-color: #ff0000;
  font-size: 9px;
  color: #fff;
  margin: 0 3px;
  padding: 0px 4px 1px 4px;
}

.node .links {
	background-color: #eeebeb;
	margin: 0;
    padding: 0;
}

.readmore-item {
	background: url('images/mini-page.gif') no-repeat left center;
	padding-left: 20px;
	margin-left: 5px;
}

.comment-item, .comment-add-item {
	background: url('images/mini-comment.gif') no-repeat left center;
	padding-left: 20px;
	margin-left: 5px;
}

#content .node .links .blog_usernames_blog {
	background: url('images/mini-user.gif') no-repeat left center;
	padding-left: 20px;
	margin-left: 5px;
}

.forum-topic-navigation, .page-links  {
  font-size: 0.9em;
  color: #777;
  background-color: #f8f7f7;
  	margin: 0;
    padding: 0;
}

.forum-topic-navigation, .page-links  {
  font-size: 0.9em;
  color: #777;
  background-color: #f8f7f7;
  	margin: 0;
    padding: 0;
}

